.app {
	margin: 0 10vw;
	text-align: center;
}

h1,
h2 {
	font-family: 'Arvo', serif;
}
.app * {
	outline: none;
}
@media screen and (max-width: 992px) {
	.app {
		margin: 0 6vw;
	}
}
@media screen and (max-width: 568px) {
	.app {
		margin: 0 4vw;
	}
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.inputs {
	flex: 5;
	min-width: 350px;
	max-width: 100%;
}
.input_element {
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: column;
}
.input_element label {
	text-align: start;
	padding: 15px 0 15px 15px;
	background-color: var(--light-blue-50);
	border: 1px solid teal;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}
.input_element textarea {
	resize: none;
	padding: 15px;
	border: 1px solid teal;
	border-radius: 0 0 5px 5px;
}
.input_element textarea:focus {
	background-color: var(--light-blue-50);
}
