.app {
  margin: 0 10vw;
  text-align: center;
}
@media screen and (max-width: 992px) {
	.app {
		margin: 0 6vw;
	}
}
@media screen and (max-width: 568px) {
	.app {
		margin: 0 4vw;
	}
}

textarea {
	height: 20px;
	width: 80%;
}
