.app {
	margin: 0 10vw;
	text-align: center;
}
.app * {
	outline: none;
}
@media screen and (max-width: 992px) {
	.app {
		margin: 0 6vw;
	}
}
@media screen and (max-width: 568px) {
	.app {
		margin: 0 4vw;
	}
}

header h1 {
	text-transform: uppercase;
}
header p {
	font-family: 'Syne', sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.inputs {
	flex: 5;
	min-width: 400px;
	/* background-color: rgb(235, 216, 192); */
}
.inputs * {
	color: teal;
}
.logs {
	width: 200px;
	min-width: 200px;
	flex: 1 1 auto;
	/* background-color: burlywood; */
}
.intro {
	display: flex;
}
.intro > * {
	border-radius: 5px;
	border: 1px solid teal;
	background-color: white;
}
.intro > *:focus {
	border-radius: 5px;
	border: 1px solid var(--light-blue-500);
	background-color: var(--light-blue-50);
}
.url {
	flex: 1 1 auto;
	height: auto;
	margin: 0 5px;
	padding: 10px;
	resize: none;
}

.methods {
	width: 90px;
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
}
.send {
	cursor: pointer;
	padding: 10px 15px;
}
.send:disabled {
	cursor: not-allowed;
}
.send:hover {
	border-color: var(--light-blue-500);
}

.input_element {
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: column;
}
.input_element label {
	text-align: start;
	padding: 15px 0 15px 15px;
	background-color: var(--light-blue-50);
	border: 1px solid teal;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}
.input_element textarea {
	resize: none;
	padding: 15px;
	border: 1px solid teal;
	border-radius: 0 0 5px 5px;
}
.input_element textarea:focus {
	background-color: var(--light-blue-50);
}

h2 {
	text-align: start;
	margin-top: 0;
}
