@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
:root {
	--foreground-color: #707070;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Arvo', serif;
	color: var(--foreground-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea {
	font-family: 'Syne', sans-serif;
	margin: 0;
	padding: 0;
}
